main{
    background-color: #0079BF ;
    min-height: 88vh;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card{
    margin: 20px 4px 0 19px;
    width: 282px;
    min-height: 50px;
    background: #EBECF0;
    border-radius: 10px;
    h3{
        margin: 12px 0 15px 12px;
        margin-bottom: 15px;
    }
}

.card-box{
    display: flex;
    flex-direction: column;
    
    a{
        text-decoration: none;
        color: #000;
    }
    .button{
        background-color: transparent;
        border:none;
        width: 102px;
        height: 29px;
        margin: 2px 0 8px 14px;
        cursor: pointer;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #5E6C84;

        &.active {
            background-color:#0079BF;
            border-radius: 5px;
            color:#fff;

            &:hover{
                background-color:#0266a0;
                color:#fff;
            }
        }
        &:hover{
            color: #3a4250;
        } 
        
    }
}
.card-box__task{
    min-height: 35px;
    width: 258px;
    background-color: #fff;
    border-radius: 5px;
    margin: 15px 12px;
    margin-top: 0;
    overflow: hidden;
    &:hover{
        background-color: rgb(199, 199, 199);
    }
    p{
        margin: 7px 8px;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
    }
    input{
        margin: 7px 12px;
        width: -webkit-fill-available;
        border: none;
        border-bottom: 1px solid #000;
        outline:none;
    }
    select{
        margin: 7px 12px;
        width: -webkit-fill-available;
        border: none;
        cursor: pointer;
        appearance: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        background-image: url(../icons/arrows_bottom_chevron_direction_move_navigation_up_icon_123224.svg);
        background-repeat: no-repeat;
        background-position: right 0rem top 50%;
        background-size: 1.3rem auto;
    }
}

.taskpage{
    position: absolute;
    left: 18px;
    top: 76px;
    background-color: #fff;
    width: 1813px;
    height: 748px;
    border-radius: 5px;
    overflow: hidden;
    padding: 22px 25px;
    
    p{
        float: right;
        font-size: 35px;
    }
    textarea{
        font-family: 'Roboto';
        font-style: normal;
        margin-top: 35px;
        border: none;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        cursor: pointer;
    }
}