@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300&display=swap');

body {
  font-family: Roboto, sans-serif ;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

*{
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 330px) and (max-width: 500px){
  header{
    background-color: #0079BF;
    & .title{
      visibility: hidden;
    }
  }

  footer{
    background-color: #0079BF;
    .block-task, .block-footer{
      visibility: hidden;
    }
  }
}
