footer{
    display: flex;
    background-color: #0067A3;
    min-height: 56px;
    overflow: hidden;
    justify-content: space-between;
    h2{
        margin: 17px 0 0 21px;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
    }
    .block-task{
        display: flex;
    }
    .block-footer{
        margin-right: 20px;
    }
}

